services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: time_mind_user
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: time_mind_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
